:root {
  --bgTheme: radial-gradient(#7cfc00, #66cdaa);
  --primaryColor: black;
}
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: auto;
  min-width: 100%;
  background: var(--bgTheme);
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: var(--bgTheme);
  display: flex;
  flex-direction: column;
}
